main {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main>* {
  margin: .25em;
}

.board {
  display: grid;
  grid-template-columns: 2em 2em 2em;
}

.board div:nth-child(3n) {
  border-right: none;
}

.board div:nth-child(n+7) {
  border-bottom: none;
}

.square {
  height: 2em;
  width: 2em;
  border-bottom: 1.25px solid black;
  border-right: 1.25px solid black;
  text-align: center;
  line-height: 2em;
}

